body {
  background-color: #131312;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 6vw; /*past aan an grootte scherm*/
  /*font-size: 96px;*/
  font-weight: 800;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: #f3f3ed;
  text-align: center;
  padding: 6% 0%;
}

h3,
h4 {
  font-weight: 500;
  color: #c6a42c;
}

h3 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 40px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #f3f3ed;
  padding: 10px 0px;
  text-align: left;
}

/* CSS  Menubalk */
#logoNav {
  max-width: 40px;
  background-color: #c6a42c;
  padding: 10%;
}
#navbackgr {
  background-color: #c6a42c;
  border-radius: 0px;
  max-height: 53px;
}
#navbar {
  color: #131312;
  font-weight: bold;
}
.navbar-toggler {
  border: none;
}

.navbar-collapse {
  background-color: #c6a42c;
  z-index: 1000;
}
.nav-link {
  color: #131312;
}
.nav-link:hover {
  color: white;
}
.nav-link:active {
  background-color: #c6a42c;
  color: #131312;
}
.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
  background-color: #131312;
  color: #c6a42c;
  border-radius: 0%;
}
/* Contactformulier*/
.container {
  margin-top: 0;
  padding-top: 0;
}
#form {
  position: relative;
  top: 0;
}
/* Aangepaste stijl voor de submit-knop */
.btn-primary {
  background-color: #c6a42c;
  border-color: #c6a42c;
  color: #131312;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c6a42c;
  border-color: #c6a42c;
  color: white;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #131312 !important;
  border-color: #c6a42c !important;
  color: #c6a42c !important;
}
/* homepage*/
.container {
  padding: 5% 0%;
}

/*hobby carrousel*/
.carousel {
  z-index: 1;
}
.carousel-inner img {
  height: 700px;
  width: 100%;
  object-fit: contain;
}
.carousel-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-description h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.carousel-description p {
  font-size: 1em;
  max-width: 700px;
}
@media (max-width: 768px) {
  .carousel-inner img {
    height: 300px;
  }
  .carousel-description h3 {
    font-size: 1.5em;
  }

  .carousel-description p {
    font-size: 0.9em;
  }
}
@media (max-width: 576px) {
  h2 {
    padding: 0.2em;
  }
  .carousel-description h3 {
    font-size: 1.3em;
  }

  .carousel-description p {
    font-size: 0.85em;
  }
}

/* Card stijl */
.card {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 70%;
}
@media (max-width: 768px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 1rem;
}

.card-text {
  color: #ddd;
}

/*cv*/
#resumefoto {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
  padding-bottom: 0px;
}

.resume-section {
  padding: 40px 0;
  color: #e0e0e0;
}

.section-title {
  font-size: 24px;
  color: #c6a42c;
  margin-bottom: 20px;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

.time-line {
  list-style: none;
  padding: 0;
}

.time-line-item {
  position: relative;
  padding: 20px 0 20px 30px;
  border-left: 2px solid #555;
  margin-bottom: 20px;
}

.time-line-item:last-child {
  margin-bottom: 0;
}

.time-line-item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-color: #333;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
}

.badge-primary {
  display: inline-block;
  background-color: #444;
  color: #e0e0e0;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.time-line-item-title {
  font-size: 18px;
  color: #c6a42c;
  margin-bottom: 4px;
}

.time-line-item-subtitle {
  font-size: 16px;
  color: #bbb;
  margin-bottom: 8px;
}

.time-line-item-content {
  font-size: 14px;
  color: #ddd;
}
#skillDiv {
  text-align: center;
}
.sliderImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 30px 0;
}
.slider {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .sliderImage {
    width: 100%;
    height: 50px;
    object-fit: contain;
  }
}

/* contact pagina*/
/* spaties in contactformulier */
#contactForm .form-group {
  margin-bottom: 15px;
}
/* max breedte contactformulier */
.contact-wrap {
  max-width: 800px;
  margin: 0 auto;
}

/* Contact formulier */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  background-color: #222a27;
  border-radius: 8px;
}

form div {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

form label {
  width: 150px;
  margin-right: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
  flex: 1;
  padding: 10px;
  border: 1px solid #c6a42c;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #c6a42c;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#onderwerp {
  color: #000000;
}

form input[type="submit"]:hover {
  background-color: #222a27;
}
#adreskaart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border-radius: 8px;
}
/* Responsive op telefoon*/
@media (max-width: 600px) {
  form {
    padding: 15% 0%;
  }

  form div {
    flex-direction: column;
    align-items: flex-start;
  }

  form label {
    width: 100%;
    margin: 0 0 5px;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea,
  form select {
    width: 100%;
  }

  form input[type="submit"] {
    width: 100%;
    margin-top: 10px;
  }
  div {
    padding: 0% 2%;
  }
}
/* Projecten */
/* container voor de projecten */
.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  flex: 1 1 calc(33.333% - 16px); /* Drie kaarten naast elkaar op grote schermen */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%; /* Kaarten onder elkaar op kleinere schermen */
  }
}
/* Footer*/
.footerLink {
  text-decoration: none;
}
#footer {
  background-color: #222;
  color: #fff;
}
